button {
  background-color: white;
  padding: 1em;
  border: 1px solid black;
  display: flex;
  align-items: center;
  border-radius: 0.5em;

  &.is-active {
    box-shadow: 0 0 1em black;
  }
}

.icon {
  font-size: 1.5em;
}

.grid {
  width: 5em;
  height: 5em;
  margin-right: 1em;
  display: grid;
  grid-gap: 1px;
  background-color: black;
  border: 1px solid black;

  .cell {
    background-color: white;
    &.active {
      background-color: lightgrey;
    }
    &.center {
      background-color: grey;
    }
  }
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-270 {
  transform: rotate(270deg);
}
