button {
  background-color: white;
  padding: 1em;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

.icon {
  padding-left: 1em;
  font-size: 1.5em;
}

.grid {
  width: 5em;
  height: 5em;
  display: grid;
  grid-gap: 1px;
  background-color: black;
  border: 1px solid black;

  .cell {
    background-color: white;
    &.active {
      background-color: lightgrey;
    }
    &.center {
      background-color: grey;
    }
  }
}
