:host {
  display: flex;
  overflow-x: auto;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;

    margin: 0.5em;

    fc-toggle {
      margin-bottom: 0.25em;
    }
  }
}
