<form>
  <fieldset>
    <legend title="Settings">
      ⚙️
    </legend>
    <fc-button (action)="restartSubject.next()">
      Restart
    </fc-button>
  </fieldset>
  <br />
  <fieldset>
    <legend title="Bot Settings">
      🤖 ⚙️
    </legend>
    <fc-toggle [(ngModel)]="model.isBotEnabled" (ngModelChange)="restartSubject.next()" name="isBotEnabled">
      Enabled
    </fc-toggle>
    <!-- <fc-toggle [(ngModel)]="isBotGoFirst" name="isBotGoFirst">
      Goes First
    </fc-toggle> -->
    <!-- search depth - number input -->
  </fieldset>
  <br />
  <fieldset>
    <legend title="Deck Settings">
      🎴 ⚙️
    </legend>
    <ogre-deck [model]="model.deck"></ogre-deck>
  </fieldset>
</form>
