form {
  margin: auto;
  padding: 1em;

  fieldset {
    padding: 1em;
    border: 1px solid black;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.2em 0 black;

    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  #bot {
    display: flex;
    justify-content: space-between;
  }

  #deck-fieldset {
    min-width: 0;
  }
}

:host > div {
  text-align: center;

  > fc-button {
    display: inline-block;
  }
}

h3 {
  margin-top: 0;
}
