form {
  margin: auto;
  padding: 1em 0;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
  fieldset {
    padding: 1em;
    border: 1px solid lightgrey;
    border-radius: 0.5em;
  }
  #bot {
    display: flex;
    justify-content: space-between;
  }
  #deck-fieldset {
    min-width: 0;
  }
}
