<div>
  <fc-button (clicked)="restartSubject.next()">
    Restart
  </fc-button>
</div>
<form>
  <fieldset>
    <h3>🤖 Bot Settings</h3>
    <div id="bot">
      <fc-choice
        [(ngModel)]="model.isBotEnabled"
        name="isBotEnabled"
        [items]="enabledItems"
        (ngModelChange)="restartSubject.next()"
      >
        Enabled
      </fc-choice>
      <fc-choice
        [(ngModel)]="model.isBotFirst"
        name="isBotFirst"
        [disabled]="!model.isBotEnabled"
        [items]="priorityItems"
        (ngModelChange)="restartSubject.next()"
      >
        Priority
      </fc-choice>
    </div>
  </fieldset>
  <fieldset id="deck-fieldset">
    <h3>🎴 Deck Settings</h3>
    <ogre-deck
      [model]="model.deck"
      (changeCardIsActive)="restartSubject.next()"
    ></ogre-deck>
  </fieldset>
  <fieldset>
    <h3>🤵 User Settings</h3>
  </fieldset>
</form>
