<form>
  <fieldset>
    <legend title="Settings">
      ⚙️ Settings ⚙️
    </legend>
    <fc-button (clicked)="restartSubject.next()">
      Restart
    </fc-button>
  </fieldset>
  <br />
  <fieldset>
    <legend title="Bot Settings">
      🤖 Bot Settings ⚙️
    </legend>
    <div id="bot">
      <fc-choice
        [(ngModel)]="model.isBotEnabled"
        name="isBotEnabled"
        [items]="[{ key: true, value: 'Active' }]"
        (ngModelChange)="restartSubject.next()"
      ></fc-choice>
      <fc-choice
        [(ngModel)]="model.isBotFirst"
        name="isBotFirst"
        [disabled]="!model.isBotEnabled"
        [items]="[{ key: true, value: 'Goes First' }]"
        (ngModelChange)="restartSubject.next()"
      ></fc-choice>
    </div>
  </fieldset>
  <br />
  <fieldset id="deck-fieldset">
    <legend title="Deck Settings">
      🎴 Deck Settings ⚙️
    </legend>
    <ogre-deck
      [model]="model.deck"
      (changeCardIsActive)="restartSubject.next()"
    ></ogre-deck>
  </fieldset>
</form>