<button
  type="button"
  [class.active]="isActive"
  [class.accent]="(cell.x + cell.y) % 2 === 0"
  [disabled]="isDisabled"
  (click)="action.emit()"
>
  <div *ngIf="cell.occupant !== undefined">
    <icon-stack
      *ngIf="cell.occupant!.isMain === true"
      title="Main Pawn"
    >
      <icon type="ring"></icon>
      <icon
        type="ogre"
        stroke="FFFFFF"
        [fill]="cell.occupant!.side === 'a' ? '111111' : 'CCCCCC'"
      ></icon>
    </icon-stack>
    <icon
      *ngIf="cell.occupant!.isMain === false"
      type="ring"
      stroke="FFFFFF"
      [fill]="cell.occupant!.side === 'a' ? '111111' : 'CCCCCC'"
      title="Pawn"
    ></icon>
  </div>
  <div
    *ngIf="cell.victory"
    class="watermark"
  >
    {{cell.victory === 'a' ? '♔' : '♚' }}
  </div>
  <div
    *ngIf="isTarget === true"
    class="target-bg"
  ></div>
</button>
