:host {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: grid;
  @media (orientation: landscape) {
    grid-template-areas:
      "ac sc sc sc bc"
      "ac gd gd gd bc"
      "ac gd gd gd bc"
      "ac gd gd gd bc";
  }
  @media (orientation: portrait) {
    grid-template-areas:
      "gd gd gd"
      "gd gd gd"
      "gd gd gd"
      "bc bc bc"
      "sc sc sc"
      "ac ac ac";
  }
}

.a-cards,
.b-cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;

  margin: 1em;
  border: 1px solid black;
  @media (orientation: landscape) {
    flex-direction: column;
  }

  .watermark {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 5rem;
    opacity: 0.08;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    z-index: -1;
  }
}

.a-cards {
  grid-area: ac;
}

.b-cards {
  grid-area: bc;
}

.spare-card {
  grid-area: sc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  grid-area: gd;
  display: grid;

  .cell {
    position: relative;
    background-color: white;

    .watermark {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      font-size: 5rem;
      opacity: 0.08;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .cell:nth-child(-2n + 5),
  .cell:nth-child(5) ~ .cell:nth-child(-2n + 9),
  .cell:nth-child(10) ~ .cell:nth-child(-2n + 25) {
    background-color: #eee;
  }

  .cell > .occupant {
    font-size: x-large;
  }
}
