<ogre-game [isBotEnabled]="isBotEnabled"></ogre-game>
<footer>
  <form>
    <fieldset>
      <legend>Options</legend>
      <fc-button>
        Concede
      </fc-button>
    </fieldset>
    <br />
    <fieldset>
      <legend>Bot Options</legend>
      <fc-toggle [(ngModel)]="isBotEnabled" name="isBotEnabled">
        Enabled
      </fc-toggle>
      <fc-toggle [(ngModel)]="isBotGoFirst" name="isBotGoFirst">
        Goes First
      </fc-toggle>
      <!-- search depth - number input -->
    </fieldset>
  </form>
</footer>
